.venv
.env

.coverage
.coverage.*

.pytest_cache
__pycache__/
*.py[cod]
*$py.class
*pyc
# C extensions
*.so
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
